/* CARDS */
.card {
  @include flex(1em);
  @extend .shadows;
  background-color: $bg-color;
  border-radius: $border-radius;
  padding: 20px;
  .title {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: $h2;
    font-style: italic;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $dark-color;
    }
  }
  .content {
    width: 100%;
    font-size: $h4;
  }
}

//select an element that has a value begin with "card-"
div[class^="card\-"] {
  @extend .card;
}

/* BUTTONS */
.btn {
  @extend .shadows;
  user-select: none;
  background-color: $btn-bg-color;
  color: $btn-font-color;
  border-radius: $border-radius;
  padding: 8px 16px;
  text-align: center;

  cursor: pointer;
}

div[class^="btn\-"] {
  @extend .btn;
}

.btn-fill {
  font-size: $h3;
  width: 100%;
}

.btn-content {
  font-size: $h3;
  width: fit-content !important;
}

.btn-content-lg {
  font-size: $h2;
  width: fit-content !important;
}

// FORM

form {
  @include flex(0.5em);
  .form-group {
    @include flex(0.25em, $a-items: flex-start);
    width: 100%;
    label {
      font-size: $h3;
    }
    input,
    textarea {
      border: 2px solid $dark-color;
      border-radius: $border-radius;
      background-color: $field-color;
      width: 100%;
      min-height: 50px;
      padding: 10px;
      font-size: $h4;
      font-family: inherit;
    }
    textarea {
      min-height: 120px;
      resize: none;
    }
    textarea:read-only {
      background-color: $bg-color;
    }
  }
  input.btn-fill {
    @extend .btn;
    font-family: "Overlock";
    font-weight: 500;
    font-style: normal;
  }
}

.after-form {
  @include flex(0.5em);
}

// ICONS

.icon {
  &.music {
    @include fa-icon-solid($fa-var-music);
  }
  &.mute {
    @include fa-icon-solid($fa-var-volume-mute);
  }
  &.arrow-down {
    @include fa-icon-solid($fa-var-circle-chevron-down);
  }
  &.instagram {
    @include fa-icon-brands($fa-var-instagram);
  }
  &.date {
    @include fa-icon-solid($fa-var-calendar-day);
  }
  &.time {
    @include fa-icon-solid($fa-var-clock);
  }
  &.address {
    @include fa-icon-solid($fa-var-map-marked-alt);
  }
  &.close {
    @include fa-icon-solid($fa-var-close);
  }
}

// GLASS

.glass {
  background: linear-gradient(
    218.99deg,
    rgba(255, 255, 255, 0.4) 4.42%,
    #e3b7a383 85.6%
  );
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  &:hover,
  &.active {
    background: linear-gradient(
      218.99deg,
      rgba(255, 255, 255, 0.7) 4.42%,
      #e3b7a3d7 85.6%
    );
  }
}

// ANIMATIONS

@mixin scaleUp($scale: 1.02) {
  transition: $transition-time;
  &:hover {
    transform: scale($scale);
  }
}

.shadows {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  @include scaleUp();
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
}

.box {
  transition: $transition-time;
  border-radius: $border-radius;
  cursor: pointer;
  &:hover {
    background-color: $blend-color;
  }
}

// SCROLL BAR

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $dark-color;
}
