* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow: hidden;
  user-select: none;
  &.loaded {
    #page-loader {
      transition: $transition-time;
      transform: translateY(-100%);
    }
  }
  &.open {
    overflow-y: scroll;
    #content {
      display: block;
    }
  }
  &.modal-on {
    overflow: hidden;
  }
}

a {
  color: $font-color;
  text-decoration: none;
}

/* PAGE-LOADER */

#page-loader {
  position: fixed;
  top: 0;
  left: 0;

  @include flex();
  // display: none;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow: hidden;
  background-color: $bg-color;
  img {
    width: 20vw;
  }
}

/* LETTER */

#landing {
  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    z-index: -1;

    //Adjusting background size and position
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include background($cover-background, 300vh, 50% 50%);
    filter: blur(8px);
  }
  position: absolute;
  top: 0;
  left: 0;

  @include flex();
  width: 100vw;
  height: 100vh;

  // display: none;
  justify-content: center;
  align-items: center;

  z-index: 90;

  .card-letter {
    width: $min-width;
    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .letter {
      font-size: 1.2em;

      display: flex;
      flex-direction: column;
      gap: 12px;

      .greetings {
        font-size: 1.2em;
      }

      #guest {
        display: block;
        font-weight: 700;
      }
    }
  }
  transition: 1s;
}

/* CONTENT */

#content {
  overflow-x: hidden;
  display: none;
}

// NAVIGATION

#navigation {
  @include flex();

  position: fixed;
  width: 220px;
  top: 10vh;
  right: -100px;
  left: unset;
  bottom: unset;
  z-index: 10;
  ul {
    @include flex($a-items: flex-end);
    width: 200px;
    height: fit-content;
    li {
      @include flex();
      width: 120px;
      height: 70px;
      border-left: 30px transparent;
      cursor: pointer;
      list-style: none;
      transition: 0.5s;

      color: $dark-color;
      @extend .glass;

      i.icon {
        font-style: normal;
        font-family: "Wedding";
        &::before {
          width: 100%;
        }
      }
      &:hover,
      &.active {
        width: 200px;
        border-left: 10px transparent;
        padding-right: 100px;
      }
    }
  }
}

// AUDIO

#audio-btn {
  position: fixed;
  top: 1vh;
  right: 1vh;
  z-index: 5;
  border-radius: 50%;
  color: $dark-color;
  text-align: center;
  transition: 500ms;
  cursor: pointer;
  @extend .glass;

  > i {
    align-self: center;
    font-size: 20px;
    padding: 15px;
  }
}

// COVER

// SECTION

.section {
  width: 100vw;
  padding: 0 $side-padding;
  @include flex();
}

// COVER

#cover {
  @include background();
  height: 100vh;
  text-align: center;
  color: $light-color;
  font-size: $h4;

  //flex
  gap: 3em;

  .cover-head {
    @include flex(1.4em);
    font-size: $h3;

    .couple {
      font-family: "Brittany";
      font-size: $cover;
      line-height: 1.4em;

      .groom {
        display: block;
      }
    }
  }
  .cover-foot {
    @include flex(1em);
    i.icon {
      font-size: 2em;
      @include scaleUp(1.2);
    }
  }
}

// COUPLE

#couple {
  text-align: center;
  padding-top: 8em;
  padding-bottom: 8em;

  //flex
  gap: 5em;

  .married {
    font-size: $h2;
  }
  .profile-container {
    @include flex($gap: 5vw, $direction: row, $wrap: wrap);
    width: 100%;
    .profile {
      width: 300px;
      padding: 20px;
      .photo-container {
        img {
          @extend .shadows;
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      .name-container {
        @include flex(2em);
        background-color: #ffffffaa;
        padding: 5px;
        border-radius: $border-radius;
        .couple-name {
          .first {
            font-size: $h1;
            display: block;
          }
          .last {
            font-size: $h3;
            display: block;
          }
        }
        .extend-name {
          @include flex(1em);
          .parents-name {
            position: relative;
            font-size: $h4;
          }
          hr {
            width: 100%;
            height: 3px;
            border-radius: 3px;
            background-color: $dark-color;
          }
          .instagram-name {
            @include flex(0.25em, $direction: row);
            font-size: $h3;
          }
        }
      }
    }
  }
}

// EVENT

#event {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    //Adjusting background size and position
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include background($cover-background, cover, 50% 50%);
    filter: blur(8px);
  }
  padding-top: 8em;
  padding-bottom: 8em;
  .event-container {
    @include flex(3em);
    .event-schedule {
      @include flex($gap: 3em, $direction: row, $wrap: wrap);
      .card-akad,
      .card-resepsi {
        width: #{"min(80vw, 400px)"};
        .content {
          padding: 0 10px;
          @include flex(0.25em, center, column, flex-start);
          .detail {
            @include flex(0.25em, center, row, flex-start);
            * {
              padding: 5px;
            }
          }
        }
      }
    }
    .event-details {
      @include flex(3em);
      > div {
        width: $min-width;
      }

      //COUNTDOWN
      .card-count-down {
        .content {
          @include flex(unset, space-around, row);
          .count-container {
            @include flex();
            .number {
              font-size: $h2;
            }
            .set {
              font-size: $h3;
            }
          }
        }
      }

      //DRESSCODE
      .card-dress-code {
        .content {
          text-align: center;
          font-size: $h3;
        }
      }

      //LOCATION {
      .card-location {
        .content {
          iframe {
            width: 100%;
            height: 400px;
          }
        }
      }

      //HEALTHPROTOCOLS
      .card-health-protocols {
        .content {
          .protocols-container {
            @include flex(1em);
            .protocols-text {
              text-align: justify;
            }
            .protocols-icons {
              @include flex(unset, space-around, row, center, wrap);
              .protocols-icon {
                @include flex();
                flex: 50%;
                height: 100%;
                img {
                  width: 100px;
                }
                .icon-detail {
                  text-align: center;
                }
              }
            }
            .protocols-attribution {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
}

// GALLERY

#gallery {
  @include flex(0.5em);
  padding-top: 8em;
  padding-bottom: 8em;
  .swiper {
    @include flex();
    width: $min-width;
    /* Start Override */
    margin: unset;
    overflow: hidden;
    .swiper-button-next,
    .swiper-button-prev {
      @include scaleUp(1.2);
      color: $dark-color;
    }
    /* End Override */
    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// WISH & PRAY

#wish {
  @include flex(10vh);
  padding-top: 8em;
  padding-bottom: 8em;
  .kutipan-container {
    width: $min-width;
    @include flex();
    .card-kutipan {
      @include flex(1em, $a-items: flex-start);
      width: $min-width;
      padding: 20px;
      border-radius: $border-radius;
      .ayat {
        font-size: $h4;
        text-align: justify;
      }
      .surah {
        font-size: $h4;
        font-weight: 700;
        font-style: italic;
      }
    }
  }
  .wish-gift-container {
    width: $min-width;
    @include flex(3em);
    .gift-container {
      .card-modal {
        width: $min-width;
        position: relative;
        #close-box {
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .content {
          p {
            margin-bottom: 10px;
            text-align: justify;
          }
        }
      }
    }
    .wish-container {
      width: $min-width;
    }
  }
  .thank-you {
    @include flex();
    font-size: $h4;
    div {
      font-size: $h3;
    }
  }
}

// FOOTER

#footer {
  @include flex($direction: row-reverse);
  width: 100%;
  padding: 5vh 10vh;
  color: #ffffff;
  background-image: linear-gradient(
    to left,
    #4cd6b4 0%,
    #00c4cc 50%,
    #00c4cc 100%
  );
  background-size: 200%;
  div {
    padding: 10px;
  }
  a {
    img {
      width: 100px;
      cursor: pointer;
      border-radius: 50%;
      @include scaleUp();
    }
  }
  transition: $transition-time;
  &:hover {
    background-position: right;
  }
}
