@media (max-width: 767px) {
  $root-size: 14px;

  html {
    font-size: $root-size;
  }

  /* PAGE-LOADER */

  #page-loader {
    img {
      width: 50vw;
    }
  }

  #navigation {
    transition: $transition-time;
    &.show {
      bottom: 0px;
    }
    justify-content: center;
    top: unset;
    right: unset;
    bottom: -10vh;
    left: 0;
    width: 100vw;
    height: 10vh;
    border-left: 0;
    ul {
      @include flex($direction: row);
      width: #{"min(100vw, 500px)"};
      height: 100%;
      li {
        width: 100%;
        border-radius: 10px 10px 0 0;
        &:hover,
        &.active {
          width: 100%;
          border-bottom: 10px solid $dark-color;
          border-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
