@import "variables";
@import "fonts";
@import "elements";
@import "perspectives";

body#m-body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#content-messages {
  > .title {
    font-size: $h2;
    text-align: center;
    margin: 5%;
  }
  > #messages {
    @include flex(1em);
    > .card-message {
      @include flex(0.5em, $a-items: flex-start);
      //border-radius: $radius;
      width: $min-width;
      padding: 3% 5%;
      .m-name {
        font-size: $h3;
      }
      .m-wish {
        text-align: justify;
      }
      .m-date {
        align-self: flex-end;
      }
    }
  }
}
